
.botones1, .botones2, .botones3{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.botones1 {
    background-color: darkgreen;
}
.botones2{
    background-color: darkgoldenrod;
}
.botones3{
    background-color: darkred;
}
h2{
    color: white;
    width: 100%;
}


nav{
	display: flex;
	margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
section{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid blue; */
}

.contenido{
    border: 1px solid #444;
    border-radius: 10px;
    margin-bottom: 10px;
}

.parrafo, 
.parrafo2{
    margin-top: 5px;
    /*margin-left: 10px;
    padding-left: 10px; */
    padding: 10px;
    width: 100%;
    background-color: #444;
    color: white;
    /* font-weight: bold; */
}

.parrafo2{
    background-color: #666;
}
